.search-form {
  display: flex;
  align-items: center;
}

.city--input {
  padding: 8px;
  margin-right: 4px;
  border-radius: 5px;
  border: 1px solid #ccc;
  height:2rem;
  font-size:larger;
  
}

.searchBtn {
  border: none;
  cursor: pointer;
}

